input{
    display: block;
    padding: 5px;
}

body{
    background-color:antiquewhite;
    
}

div{
    border: 5px solid red;
    
}

#table{
    border: 5px solid red;
}

#input{
    border: 3px solid red;

}

#delete{
    border: 3px solid red;
}